.skills-row__title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
   @include tablets {
      display: flex;
      justify-content: center;
    }
}

.skills-row__list {
  display: flex;
  margin-left: -4%;

  @include tablets {
    justify-content: center;
  }

  @include phones {
    flex-wrap: wrap;
  }
}

.skills-row__item {
  margin-left: 4%;
}
