@mixin phones() {
    @media screen and (max-width: $bp-phones) {
        @content;
    }
}

.headline-component {
    background-color: #43436B;

}

.header-container {
    display: flex;
    padding: 16px 0;
    align-items: center;
}

.buttons {
    margin-left: auto;
}

.btn {
    color: #ffffffb3;
    text-decoration: underline;
}

.title {
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.5);
    @include phones {
       visibility: hidden;
        width: 0;
    }
}
