.skill-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.is-tick {
    padding-right: 10px;
}

.percent {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    width: 50px;
    margin-right: 50px;
}

.percentsign {
    padding-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-value {
    display: flex;
    flex-direction: row;
}

.btn--pencil {
    padding-right: 20px;
}

